@media(max-width:1182px) {
    .main-blog {
        padding: 120px 0;

        &__list {
            justify-content: center;
            gap: 67px 20px;
        }

        &__item {
            flex-basis: 460px;

            &-img {
                max-width: 230px;
            }
        }

        &__link {
            margin-top: 60px;
        }
    }

    .mailing-list {
        padding: 60px 0;

        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__title {
            text-align: center;
        }

        &__text {
            text-align: center;
            flex-basis: 780px;
        }
    }

    .prioritise {
        padding: 120px 0;

        &__list {
            gap: 30px 210px;
        }
    }
}

@media(max-width:1000px) {
    .top {
        background-position: left center;
    }

    .header__inner {
        min-height: auto;
    }

    .menu {
        margin-right: auto;

        &__list {
            margin-left: 60px;
        }
    }

    .user-actions__item-search {
        margin-left: 30px;
    }

    .blockqoute__text {
        margin-top: 120px;
        margin-bottom: 135px;
    }

    .assortment {
        margin-bottom: 120px;

        &__title {
            margin-bottom: 30px;
        }
    }

    .assortment__list {
        gap: 0;
    }

    .reviews__item:last-child {
        display: none;
    }
}

@media(max-width:860px) {

    .mobile-nav,
    .menu__close {
        display: block;
    }

    .mobile-menu {
        padding-top: 60px;
        margin: 60px 30px;
        border-top: 2px solid #F7F2EA;

        &__item {
            margin-bottom: 35px;
        }
    }

    .mobile-actions {
        background-color: #F7F2EA;
        min-height: 60px;
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        order: -1;
        margin-right: 0;

        &__list {
            transform: translateY(-100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 480px;
            margin: 0 auto;
            background-color: #fff;
            display: block;
            text-align: center;
            padding-top: 60px;
            transition: transform .5s ease-in;
        }

        &__btn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: none;
            background-color: transparent;
        }

        &__close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        &__item {
            margin-bottom: 30px;
            font-size: 24px;
            font-family: 'Cormorant-Regular';
        }
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
        transform: translateX(22px);
    }

    .menu__list.menu__list--open {
        transform: translateY(0%);
    }
}

@media(max-width:768px) {
    .header__inner {
        padding-left: 64px;
        padding-right: 64px;
        max-height: 165px;
    }

    .blockqoute__text {
        max-width: 640px;
    }

    .assortment {

        &__list {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .reviews__item:last-child {
        display: block;
    }

    .reviews__list {
        flex-wrap: wrap;
        gap: 30px 76px;
    }

    .main-blog {
        &__item {
            flex-basis: 542px;

            &:nth-child(even) {
                margin-left: 98px;
            }

            &-img {
                max-width: 270px;
            }
        }

        &__list {
            gap: 30px 20px;
        }
    }

    .mailing-list {
        &__text {
            flex-basis: 640px;
        }
    }

    .prioritise {
        &__list {
            gap: 30px 133px;
        }
    }
}

@media(max-width:680px) {
    .container {
        padding: 0 10px;
    }

    .header__inner {
        padding-left: 0;
        padding-right: 0;
    }

    .top__title {
        font-size: 40px;
    }

    .blockqoute__text {
        font-size: 16px;
        max-width: 376px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .reviews {
        padding: 50px 0;

        &__item {
            flex-basis: 220px;
        }

        &__list {
            flex-wrap: wrap;
            gap: 30px 20px;
        }
    }

    .main-blog__item:nth-child(even) {
        margin-left: 0px;
    }
}

@media(max-width:590px) {
    .mailing-list {
        padding: 50px 0;

        &__text {
            flex-basis: 100%;
            font-size: 13px;
        }

        &__inner {
            gap: 30px 0;
        }

        &__form {
            justify-content: center;
        }

        &__email {
            width: 60vw;
            margin-right: 10px;
        }

        &__btn {
            padding: 0 30px;
        }
    }
}

@media(max-width:480px) {
    .logo img {
        width: 39px;
    }

    .header__inner {
        padding-top: 10px;
        padding-bottom: 5px;
        max-height: 76px;
    }

    .top__text {
        line-height: normal;
    }

    .menu__list {
        width: 360px;
    }

    .assortment {
        margin-bottom: 60px;
    }

    .main-blog {
        padding: 60px 0;

        &__item {
            &-img {
                max-width: 230px;
            }
        }
    }

    .prioritise {
        padding: 60px 0;
    }

    .main-blog {
        padding: 50px 0;

        &__item {
            display: block;

            &-title {
                min-height: auto;
            }
        }

        &__img {
            width: 100%;
        }
    }
}

@media(max-width:435px) {
    .assortment__img {
        max-width: 170px;
    }
}

@media(max-width:360px) {
    .title {
        font-size: 24px;
    }

    .user-actions__item-search {
        margin-left: 0px;
    }

    .logo {
        transform: translateX(15px);
    }

    .top__inner {
        min-height: 367px;
    }

    .top__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .top__text {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .blockqoute__text {
        max-width: 340px;
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .menu__list {
        width: 320px;
    }

    .assortment {
        &__title {
            margin-bottom: 10px;
        }
    }

    .reviews__item {
        flex-basis: 100%;
    }

    .reviews__item:first-child,
    .reviews__item:last-child {
        display: none;
    }

    .prioritise {
        padding: 50px 0;

        &__title {
            font-size: 20px;
        }

        &__text {
            font-size: 10px;
            font-weight: 400;
        }
    }
}